# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# conf
tokens.yml
data.yml
*.log.*

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
*.lock
.ipynb*
*.h5

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
*.log
nosetests.xml

# virtualenv
.venv
venv/
ENV/
env/
