# Byte-compiled
__pycache__/
*.pyc

# logs
*.log
*.log.*
nohup.out

# conf
config.ini
data.json
.vscode/

# Distribution / packaging
build/
dist/
develop-eggs/
eggs/
.eggs/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.pytest_cache
.cache

# virtualenv
env/
venv/
.idea/
