[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]

e9e3206 = {file = "../trading212api/", editable = true}
scipy = "*"
pyyaml = "*"
python-telegram-bot = "*"
raven = "*"
termcolor = "*"

[dev-packages]

e1839a8 = {file = ".", editable = true}
pytest = "*"
pytest-pep8 = "*"
pytest-cov = "*"
flake8 = "*"
autopep8 = "*"

[requires]
python_version = "3.6"
